@use 'variables';

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  // min-width: 100vw;
  width: 98vw;
  display: grid;
  grid-template-rows: 1fr;
  background-color: variables.$dark-bg;
  color: variables.$primary-font;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

hr {
  width: 95%;
  border: 1px solid lighten(variables.$light-font, 20%);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  font-size: 1em;
}

button {
  border-radius: 0.7em;
  cursor: pointer;
  background-color: variables.$light-bg;
  color: lighten(variables.$primary-font, 15%);
  padding: 0.4em 0.6em;
}

button:hover{
  background-color: lighten(variables.$middle-bg, 20%);
  color: lighten(variables.$light-font, 15%);
}

.formbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.formbox label {
  margin: 0.4em;
}
